.mat-tab-group {
    margin-bottom: 48px;
}

.whitebox {
    background-color: #fff;
    padding: 35px 10px;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

.form-inline {
    label {
        color: rgba(0, 0, 0, .54)
    }
}

.mrf {
    margin-right: 20px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productos {
    display: flex;
    align-items: center;
    justify-content: center;

    .selec {
        width: 20%;
        margin-right: 20px;
    }
}

.alineardisplay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccionprov {
    margin-bottom: 2rem;
    button {
        background: #58a5d2ad !important;
        color: #fff;
        border: none;
    }
    p {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.table {
    th {
        font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    }
    thead {
        background-color: #58a5d2de;
        color: #fff;
    }
}

.inter {
    width: 95%;
    .fechpro {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.botonazul {
    background: #58a5d2de !important;
    color: #fff;
    border: none;
}

.diblock {
    display: block !important;
}

.ubi {
    align-items: center;
    justify-content: flex-end;
}

.cajaazul {
    color: #fff;
    font-size: 20px;
    background: #8ec2e0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    margin: auto;
    .col-9 {
        text-align: end;
    }
}

.botones {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .form-group {
        margin-left: 10px;
    }
}