<div class="row pagina">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Nueva Venta">
            <div class="mt-4 whitebox">
                <div class="section">
                    <form class="form-inline">
                        <div class="inter">
                            <div class="fechpro">
                                <div class="form-group diblock">
                                    <label for="fecha_compra">Fecha de la venta</label>
                                    <div class="input-group mb-3 mt-3">
                                        <input id="fecha_compra" class="form-control mrf" name="fecha_compra" disabled readonly [value]="fecha_compra | date:'short'">
                                    </div>
                                </div>
                                <div class="form-group diblock">
                                    <label for="numero_factura">Numero de factura</label>
                                    <div class="input-group mb-3 mt-3">
                                        <input id="numero_factura" class="form-control mrf text-center" name="fecha_compra" disabled readonly [value]="185486">
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="productos">
                                    <div class="form-group diblock selec">
                                        <label for="numero_factura">Seleccione el producto</label>
                                        <select class="form-select mb-3 mt-3" aria-label="Default select example" (change)="precioCantidad()" [(ngModel)]="venta.producto" name="producto">
                                            <option value="{{producto.id}}-{{producto.precio}}-{{producto.nombre}}" *ngFor="let producto of productosIniciales">{{producto.nombre}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group diblock">
                                        <label for="numero_factura">Precio del producto</label>
                                        <div class="input-group mb-3 mt-3">
                                            <input id="numero_factura" class="form-control mrf text-center" name="fecha_compra" disabled readonly [(ngModel)]="venta.precio" name="precio" placeholder="Precio">
                                        </div>
                                    </div>

                                    <div class="form-group diblock">
                                        <label for="numero_factura">Cantidad</label>
                                        <div class="input-group mb-3 mt-3">
                                            <input id="numero_factura" class="form-control mrf text-center" name="fecha_compra"  [(ngModel)]="venta.cantidad" name="cantidad" placeholder="Cantidad" type="number" min="0">
                                        </div>
                                    </div>

                                    <div class="form-group diblock">
                                        <button class="btn btn-outline-primary text-center botonazul mt-3" type="submit" (click)="agregarProducto()">Agregar <i class="fas fa-cart-plus mr-3"></i></button>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <label for="" class="mb-3">Productos de la venta</label>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                                <th>Subtotal</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let p of venta.productos_detalle ; let i = index">
                                            <td>{{p.producto_nombre}}</td>
                                            <td>{{p.cantidad}}</td>
                                            <td>{{p.precio}}</td>
                                            <td>{{p.subtotal}}</td>
                                            <td><i class="fas fa-trash iconos" (click)="deleteProducto(p.producto_id, i)"></i></td>
                                        </tbody>
                                        <thead>
                                            <tr>
                                                <th colspan="3"></th>
                                                <th >Total: {{venta.precio_total_venta}}</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="botones">
                                <div class="form-group ubi">
                                    <button class="btn btn-outline-primary text-center botonazul" type="submit" (click)="guardarVenta()"><i class="fas fa-shopping-basket mr-3"></i>Generar Venta</button>
                                </div>
                                <div class="form-group ubi">
                                    <button class="btn btn-outline-primary text-center botonazul" type="submit" (click)="guardarVentaLocalStorage()"><i class="fas fa-save mr-3"></i>Guardar Venta</button>
                                </div>
                                <div class="form-group ubi">
                                    <button class="btn btn-outline-primary text-center botonazul" type="submit" (click)="CancelarVenta()"><i class="fas fa-ban mr-3"></i>Cancelar Venta</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Busqueda y Filtros">
            <div class="mt-4 whitebox">
                <div class="section">
               
                </div>
             </div>
        </mat-tab>
        <mat-tab *ngFor="let ventasGuardadas of ventasAlmacenadas; let inVen = index" label="Venta guardada">
            <div class="mt-4 whitebox">
                <div class="section">
                    <form class="form-inline">
                        <div class="inter">
                            <!-- <div class="fechpro">
                                <div class="form-group diblock">
                                    <label for="fecha_compra">Fecha de la venta</label>
                                    <div class="input-group mb-3 mt-3">
                                        <input id="fecha_compra" class="form-control mrf" name="fecha_compra" disabled readonly [value]="fecha_compra | date:'short'">
                                    </div>
                                </div>
                                <div class="form-group diblock">
                                    <label for="numero_factura">Numero de factura</label>
                                    <div class="input-group mb-3 mt-3">
                                        <input id="numero_factura" class="form-control mrf text-center" name="fecha_compra" disabled readonly [value]="185486">
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="section">
                                <div class="productos">
                                    <div class="form-group diblock selec">
                                        <label for="numero_factura">Seleccione el producto</label>
                                        <select class="form-select mb-3 mt-3" aria-label="Default select example" (change)="precioCantidad()" [(ngModel)]="venta.producto" name="producto">
                                            <option value="{{producto.id}}-{{producto.precio}}-{{producto.nombre}}" *ngFor="let producto of productosIniciales">{{producto.nombre}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group diblock">
                                        <label for="numero_factura">Precio del producto</label>
                                        <div class="input-group mb-3 mt-3">
                                            <input id="numero_factura" class="form-control mrf text-center" name="fecha_compra" disabled readonly [(ngModel)]="venta.precio" name="precio" placeholder="Precio">
                                        </div>
                                    </div>

                                    <div class="form-group diblock">
                                        <label for="numero_factura">Cantidad</label>
                                        <div class="input-group mb-3 mt-3">
                                            <input id="numero_factura" class="form-control mrf text-center" name="fecha_compra"  [(ngModel)]="venta.cantidad" name="cantidad" placeholder="Cantidad" type="number">
                                        </div>
                                    </div>

                                    <div class="form-group diblock">
                                        <button class="btn btn-outline-primary text-center botonazul mt-3" type="submit" (click)="agregarProducto()">Agregar <i class="fas fa-cart-plus mr-3"></i></button>
                                    </div>

                                </div>
                            </div> -->
                            <!-- <div class="row">
                                <div class="col text-center">
                                    <label for="" class="mb-3">Productos de la venta</label>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                                <th>Subtotal</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let p of venta.productos_detalle ; let i = index">
                                            <td>{{p.producto_nombre}}</td>
                                            <td>{{p.cantidad}}</td>
                                            <td>{{p.precio}}</td>
                                            <td>{{p.subtotal}}</td>
                                            <td><i class="fas fa-trash iconos" (click)="deleteProducto(p.producto_id, i)"></i></td>
                                        </tbody>
                                        <thead>
                                            <tr>
                                                <th colspan="3"></th>
                                                <th >Total: {{venta.precio_total_venta}}</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div> -->
                            <div class="botones">
                                <div class="form-group ubi">
                                    <button class="btn btn-outline-primary text-center botonazul" type="submit"><i class="fas fa-shopping-basket mr-3"></i>Generar Venta</button>
                                </div>
                                <div class="form-group ubi">
                                    <button class="btn btn-outline-primary text-center botonazul" type="submit" (click)="CancelarVentaGuardada(inVen)"><i class="fas fa-ban mr-3"></i>Cancelar Venta</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>