.mat-tab-group {
    margin-bottom: 48px;
}

.whitebox {
    background-color: #fff;
    padding: 35px 10px;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

.form-inline {
    label {
        color: rgba(0, 0, 0, .54)
    }
}

.mrf {
    margin-right: 20px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alineardisplay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccionprov {
    margin-bottom: 2rem;
    button {
        background: #58a5d2ad !important;
        color: #fff;
        border: none;
    }
    p {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.table {
    th {
        font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    }
    thead {
        background-color: #58a5d2ad;
        color: #fff;
    }
}

.inter {
    width: 95%;
    .fechpro {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.botonazul {
    background: #58a5d2ad !important;
    color: #fff;
    border: none;
}

.diblock {
    display: block !important;
}

.ubi {
    align-items: center;
    justify-content: flex-end;
}

.cajaazul {
    color: #fff;
    font-size: 20px;
    background: #8ec2e0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    margin: auto;
    .col-9 {
        text-align: end;
    }
}

.divinformation {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        color: #8ec2e0;
        margin-left: 10px;
        transform: scale(1.5);
        cursor: pointer;
    }
}

.botoninsertarproveedor {
    margin: 20px auto 0 auto;
    text-align: center;
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
    z-index: 10000 !important;
}