<div class="row pagina">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Nueva Compra">
            <div class="mt-4 whitebox">
                <div class="seccionprov">
                    <p>
                        <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                          Nuevo Proveedor
                        </button>
                    </p>
                    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-inline" (ngSubmit)="crearProveedor(form)" #form="ngForm">
                                    <div class="alineardisplay w-100">
                                        <div class="form-group diblock">
                                            <label for="nomProveedor">Nombre del proveedor</label>
                                            <div class="input-group mb-3 mt-3">
                                                <input id="nomProveedor" class="form-control mrf" name="nombre_proveedor" [(ngModel)]="proveedor.nombre_proveedor" placeholder="Obligatorio*" required>
                                            </div>
                                        </div>

                                        <div class="form-group diblock">
                                            <label for="nomProveedor">Contacto del proveedor</label>
                                            <div class="input-group mb-3 mt-3">
                                                <input id="nomProveedor" class="form-control mrf" name="contacto_proveedor" [(ngModel)]="proveedor.contacto_proveedor" placeholder="Obligatorio*" required>
                                            </div>
                                        </div>

                                        <div class="form-group diblock">
                                            <label for="dpromedio">Dia promedio</label>
                                            <div class="input-group mb-3 mt-3">
                                                <div>
                                                    <select class="form-select" aria-label="Default select example" name="dia_promedio" [(ngModel)]="proveedor.dia_promedio">
                                                            <option value=" " selected>Selecciona un dia promedio</option>
                                                            <option value="Lunes">Lunes</option>
                                                            <option value="Martes">Martes</option>
                                                            <option value="Miercoles">Miercoles</option>
                                                            <option value="Jueves">Jueves</option>
                                                            <option value="Viernes">Viernes</option>
                                                            <option value="Sabado">Sabado</option>
                                                            <option value="Domingo">Domingo</option>
                                                        </select>
                                                    <!-- <small *ngIf="proveedorNoValido" class="text-danger">Seleccione un proveedor</small> -->
                                                </div>
                                                <div class="divinformation">
                                                    <i class="fas fa-info-circle" (click)="openProveedores(contentdpromedio)"></i>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <div class="form-group mr-3">
                                            <button class="btn btn-outline-primary" type="submit">Insertar</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="form-group botoninsertarproveedor">
                                    <button class="btn btn-outline-primary" (click)="openDpromedio(contentproveedores)">Lista de proveedores</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <form class="form-inline" (ngSubmit)="guardarCompra()">
                        <div class="inter">
                            <div class="fechpro">
                                <div class="form-group diblock">
                                    <label for="fecha_compra">Fecha de la venta</label>
                                    <div class="input-group mb-3 mt-3">
                                        <input id="fecha_compra" class="form-control mrf" name="fecha_compra" disabled readonly [value]="fecha_compra | date:'short'">
                                    </div>
                                </div>
                                <div class="form-group diblock">
                                    <label for="proveedor">Proveedor</label>
                                    <div class="input-group mb-3 mt-3">
                                        <div>
                                            <select class="form-select" aria-label="Default select example" name="proveedor">
                                                <option *ngFor="let proveedor of proveedores" [value]="proveedor.nombre_proveedor">{{proveedor.nombre_proveedor}}</option>
                                            </select>
                                            <!-- <small *ngIf="proveedorNoValido" class="text-danger">Seleccione un proveedor</small> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Precio compra</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option *ngFor="let producto of productos" [value]="producto.nombre" #productoselec>{{producto.nombre}}</option>
                                                    </select>
                                                    <!-- <small *ngIf="productoNoValido" class="text-danger">Seleccione un producto</small> -->
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" name="">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="">
                                                </td>
                                                <td>
                                                    <i class="fas fa-trash iconos"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-primary mt-3 mb-5 bnt-block botonazul" (click)="nuevoProducto()">
                                        <i class="fas fa-plus mr-3"></i> Agregar nuevo producto
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <div class="row cajaazul">
                                <div class="col-9">
                                    Total compra:
                                </div>
                                <div class="col-3 text-center">
                                    $ 15.000
                                </div>
                            </div>
                            <hr>
                            <div class="form-group ubi">
                                <button class="btn btn-outline-primary text-center botonazul" type="submit"><i class="fas fa-shopping-basket mr-3"></i>Generar compra</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Busqueda y Filtros">Busqueda y filtros</mat-tab>
            <!--MODAL lISTAR PROVEEDORES-->
    <ng-template #contentproveedores let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Lista de proveedores</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <mat-form-field appearance="standard">
                <mat-label>{{this.messageService.messageData.ScreenInventario.labelFiltro}}</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese texto" #input class="inputfilter">
            </mat-form-field>
            <table mat-table [dataSource]="listaproveedores" matSort class="w-100">

                <!-- NOMBRE PROVEEDOR -->
                <ng-container matColumnDef="nombre_proveedor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre_proveedor}} </td>
                </ng-container>

                <!-- CONTACTO PROVEEDOR -->
                <ng-container matColumnDef="contacto_proveedor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Contacto</th>
                    <td mat-cell *matCellDef="let element"> {{element.contacto_proveedor}} </td>
                </ng-container>

                <!-- FECHA DE PASO PROVEEDOR -->
                <ng-container matColumnDef="fecha_proveedor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Dia Promedio</th>
                    <td mat-cell *matCellDef="let element"> {{element.dia_promedio}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">{{this.messageService.messageData.ScreenInventario.noresultado}} "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[2,4,5]" [pageSize]="2" showFirstLastButtons></mat-paginator>
        </div>
    </ng-template>

    <!--MODAL INFORMACION DIA PROMEDIO -->
    <ng-template #contentdpromedio let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">¿Que es el dia promedio?</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            AQUI VA LA INFORMACIOND DEL DIA PROMEDIO
        </div>
    </ng-template>
    </mat-tab-group>
</div>