<div class="sidenav">
    <div class="logo">
        <a href="" class="simple-text logo-normal">
            <img src="../../../../assets/images/logo.png" alt="" class="logo-img">
        </a>
    </div>
    <ul class="nav">
        <li><a routerLink="/dashboard" routerLinkActive><i class="fas fa-chart-line prueba2"></i>Dashboard</a></li>
        <li><a routerLink="/venta" routerLinkActive><i class="fab fa-shopify"></i>Venta</a></li>
        <li><a routerLink="/compra" routerLinkActive><i class="fas fa-cart-arrow-down"></i>Compra</a></li>
        <li><a routerLink="/inventario" routerLinkActive><i class="fas fa-dolly-flatbed"></i>Inventario</a></li>
        <li><a routerLink="/estadisticas" routerLinkActive><i class="fas fa-chart-pie"></i>Estadisticas</a></li>
        <li><a routerLink="/estadisticas" routerLinkActive><i class="fas fa-chart-pie"></i>Estadisticas Admin</a></li>
        <li><a routerLink="/estadisticas" routerLinkActive><i class="fas fa-chart-pie"></i>Usuarios</a></li>
        <br>
        <br>
        <li><a routerLink="/soporte" routerLinkActive><i class="fas fa-info"></i>Preguntas y Soporte</a></li>
    </ul>
</div>