/* Structure */

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 65%;
    color: #fff;
    .mat-form-field-flex {
        padding: 10px;
    }
    .mat-form-field-empty.mat-form-field-label,
    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        color: #fff;
    }
    .mat-form-field-appearance-standard .mat-form-field-underline {
        background-color: rgb(70 122 157);
    }
}

.inputfilter {
    margin-left: 20px;
    width: 65%;
    margin-top: 15px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e2e2e2;
}

.inputfilter:focus-visible {
    color: #ffffff;
    border: none;
}

.accionestop {
    height: 0%;
    button {
        margin-left: 10%;
    }
}

.insertproducto {
    background: #58a5d2ad !important;
}