<div class="row pagina">

    <div class="accionestop">
        <mat-form-field appearance="standard">
            <mat-label>{{this.messageService.messageData.ScreenInventario.labelFiltro}}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese texto" #input class="inputfilter">
        </mat-form-field>
        <button mat-raised-button color="accent" class="insertproducto" (click)="openInsert(contentinsert)">{{this.messageService.messageData.ScreenInventario.textoBoton}}</button>
    </div>

    <table mat-table [dataSource]="productos" matSort>

        <!-- CODIGO_BARRAS -->
        <ng-container matColumnDef="{{this.messageService.messageData.ScreenInventario.campo1tabla}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{this.messageService.messageData.ScreenInventario.campo1tabla}} </th>
            <td mat-cell *matCellDef="let element"> {{element.bc}} </td>
        </ng-container>

        <!-- NOMBRE -->
        <ng-container matColumnDef="{{this.messageService.messageData.ScreenInventario.campo2tabla}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{this.messageService.messageData.ScreenInventario.campo2tabla}}</th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- CANTIDAD -->
        <ng-container matColumnDef="{{this.messageService.messageData.ScreenInventario.campo3tabla}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{this.messageService.messageData.ScreenInventario.campo3tabla}}</th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>

        <!-- PRECIO -->
        <ng-container matColumnDef="{{this.messageService.messageData.ScreenInventario.campo4tabla}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{this.messageService.messageData.ScreenInventario.campo4tabla}} </th>
            <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
        </ng-container>

        <!-- ACCIONES -->
        <ng-container matColumnDef="{{this.messageService.messageData.ScreenInventario.campo5tabla}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{this.messageService.messageData.ScreenInventario.campo5tabla}} </th>
            <td mat-cell *matCellDef="let element; let i = index" class="pr"><i class="fas fa-trash iconos" (click)="EliminarProducto(element)"></i><i class="fas fa-edit iconos" (click)="openPut(contentput,element)"></i></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">{{this.messageService.messageData.ScreenInventario.noresultado}} "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[2,4,5]" [pageSize]="2" showFirstLastButtons></mat-paginator>
    <div class="loader" *ngIf="loader">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!--MODAL INSERTAR PRODUCTO-->
    <ng-template #contentinsert let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{this.messageService.messageData.ScreenInventario.insertar}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="guardar(form)" #form="ngForm">
                <div class="form-group">
                    <label for="{{this.messageService.messageData.ScreenInventario.bc}}">{{this.messageService.messageData.ScreenInventario.bc}}</label>
                    <div class="input-group mb-3">
                        <input id="bc" class="form-control" placeholder="Opcional" name="bc" [(ngModel)]="producto.bc">
                        <button type="button" class="btn btn-outline-dark colorbotonesazules">{{this.messageService.messageData.ScreenInventario.escan}}</button>
                    </div>
                    <label for="{{this.messageService.messageData.ScreenInventario.nombreForm}}">{{this.messageService.messageData.ScreenInventario.nombreForm}}</label>
                    <div class="input-group mb-3">
                        <input id="nombre" class="form-control" placeholder="Obligatorio*" name="nombre" [(ngModel)]="producto.nombre" required>
                    </div>
                    <label for="{{this.messageService.messageData.ScreenInventario.cantidadForm}}">{{this.messageService.messageData.ScreenInventario.cantidadForm}}</label>
                    <div class="input-group mb-3">
                        <input id="cantidad" class="form-control" placeholder="Obligatorio*" type="number" name="cantidad" [(ngModel)]="producto.cantidad" required>
                    </div>
                    <label for="{{this.messageService.messageData.ScreenInventario.precioForm}}">{{this.messageService.messageData.ScreenInventario.precioForm}}</label>
                    <div class="input-group mb-3">
                        <input id="Precio" class="form-control" placeholder="Obligatorio*" type="text" name="precio" [(ngModel)]="producto.precio" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-dark colorbotonesazules" (click)="modal.dismiss()">{{this.messageService.messageData.ScreenInventario.confirmarForm}}</button>
                </div>
            </form>
        </div>
    </ng-template>

    <!--MODAL EDITAR PRODUCTO-->
    <ng-template #contentput let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{this.messageService.messageData.ScreenInventario.editar}}: "<b>{{producto.nombre}}"</b></h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="EditarProducto(f)" #f="ngForm">
                <div class="form-group">
                    <label for="{{this.messageService.messageData.ScreenInventario.bc}}">{{this.messageService.messageData.ScreenInventario.bc}}</label>
                    <div class="input-group mb-3">
                        <input id="bc" class="form-control" placeholder="Opcional" name="bc" [(ngModel)]="producto.bc" [value]="producto.bc">
                        <button type="button" class="btn btn-outline-dark colorbotonesazules">{{this.messageService.messageData.ScreenInventario.escan}}</button>
                    </div>
                    <label for="{{this.messageService.messageData.ScreenInventario.nombreForm}}">{{this.messageService.messageData.ScreenInventario.nombreForm}}</label>
                    <div class="input-group mb-3">
                        <input id="nombre" class="form-control" placeholder="Obligatorio*" name="nombre" [(ngModel)]="producto.nombre" [value]="producto.nombre" required>
                    </div>
                    <label for="{{this.messageService.messageData.ScreenInventario.cantidadForm}}">{{this.messageService.messageData.ScreenInventario.cantidadForm}}</label>
                    <div class="input-group mb-3">
                        <input id="cantidad" class="form-control" placeholder="Obligatorio*" type="number" name="cantidad" [(ngModel)]="producto.cantidad" [value]="producto.cantidad" required>
                    </div>
                    <label for="{{this.messageService.messageData.ScreenInventario.precioForm}}">{{this.messageService.messageData.ScreenInventario.precioForm}}</label>
                    <div class="input-group mb-3">
                        <input id="Precio" class="form-control" placeholder="Obligatorio*" type="text" name="precio" [(ngModel)]="producto.precio" [value]="producto.precio" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-dark colorbotonesazules" (click)="modal.dismiss()">{{this.messageService.messageData.ScreenInventario.confirmarEditForm}}</button>
                </div>
            </form>
        </div>
    </ng-template>
</div>