@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';
* {
    font-family: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

.mat-paginator {
    height: 10%;
}

body {
    margin: 0;
    font-family: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
    background-color: #1e1e2f !important;
}

.colorbotonesazules {
    background-color: #56a2ce !important;
}

.pagina {
    background: #1e1e2f;
    height: 800px;
    padding: 30px;
    color: #ffffff;
    overflow: hidden;
    width: 100%;
}

.lds-ellipsis {
    display: block;
    position: absolute;
    left: 46%;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #559eca;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.mat-tab-body-content {
    overflow: hidden !important;
}

.swal2-styled.swal2-confirm {
    background-color: #56a2ce !important;
}

.mat-tab-label .mat-tab-label-content {
    color: #fff;
}

.iconos {
    color: #58a5d2ad;
    margin-right: 10px;
    width: 10px;
    transform: scale(1.3);
    cursor: pointer;
}

.iconos:hover {
    color: #3c638399;
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';